$control_height:40px;
$rounded_standard:15px;

%input-text {
  background: rgb(205, 234, 245);
  height: $control_height;
  border: 1px solid rgb(156, 213, 223);
  outline: none;
  border-radius: $rounded_standard;
  padding-right: 10px;
}
%button{
    height: $control_height;
    border-radius: $rounded_standard;
    border:none;
    background: rgb(255, 218, 7);
    font-weight: bold;
    color: rgb(94, 93, 93);
    cursor: pointer;
    box-shadow:  0 0 15px rgb(168, 167, 167);
}
