@font-face {
    font-family: IranSans;
    src: url('../assets/iranyekanwebregular.e31c09af.woff2');
}
html,body{
    font-family: IranSans;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
    direction: rtl;
}